<app-standard-revision-solicited-opinion-manager #srsom [management]="1" [level]="1" [task]="task"></app-standard-revision-solicited-opinion-manager>

<form novalidate autocomplete="off" (ngSubmit)="goOn()">
  <div class="form-actions" fxLayout="row">
    <button mat-raised-button color="primary" [disabled]="submitting">保存并发送下一环节</button>
    <button type="button" mat-button [routerLink]="['/process-management/tasks']">取消</button>
  </div>
</form>

<app-standard-revision-manager #srm mode="view" [task]="task"></app-standard-revision-manager>
