<div class="treeview-container">
  <mat-form-field class="is-full" floatPlaceholder="never">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput #filter (keyup)="tree.treeModel.filterNodes(filter.value)" (click)="$event.stopPropagation()" placeholder="搜索">
  </mat-form-field>
  <tree-root #tree [nodes]="nodes" [options]="options" (initialized)="onInitialized()" (activate)="onActivate($event)" (moveNode)="onMoveNode($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">

      <span (contextmenu)="$event.preventDefault();trigger.openMenu()">
        <span #trigger="matMenuTrigger" [matMenuTriggerFor]="menu"></span> {{ node.data.name }}
        <small>({{node.data.staffCount}})</small>
      </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="authService.check('/management/org@departments@read')" (click)="openFormDialog({action:'read',node:node.data})"> 查看 </button>
        <button mat-menu-item *ngIf="authService.check('/management/org@departments@create')" (click)="openFormDialog({action:'create',node:node.data})"> 新建 </button>
        <button mat-menu-item *ngIf="authService.check('/management/org@departments@leader')" (click)="openLeaderDialog(node.data)"> 设置分管领导 </button>
        <button mat-menu-item *ngIf="authService.check('/management/org@departments@update')" (click)="openFormDialog({action:'update',node:node.data})"> 编辑 </button>
        <button mat-menu-item *ngIf="authService.check('/management/org@departments@delete')" (click)="openDeletionDialog(node.data)"> 删除 </button>
        <button mat-menu-item *ngIf="authService.check('/management/org@departments@import')" (click)="openImportDialog()">批量导入</button>
      </mat-menu>

    </ng-template>
  </tree-root>
  <!-- <div class="has-text-centered" *ngIf="nodes && nodes.length===0">
    <button mat-icon-button matTooltip="新建根目录" (click)="openFormDialog({action:'create'})"><mat-icon>add</mat-icon></button>
  </div> -->
</div>
