<ux-table-container>
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="endTime" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> 序号 </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activityName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 名称 </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.activityName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="businessInstance">
      <mat-header-cell *matHeaderCellDef> 计划 </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.businessInstance?.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 结束时间 </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.endTime | dateTime}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]="dataSource.total" [pageSize]="appConfig.pageSize" [pageSizeOptions]="appConfig.pageSizeOptions">
  </mat-paginator>
</ux-table-container>
