<app-guideline-latest class="top-fixed-bar is-full"></app-guideline-latest>
<div id="login-container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div id="login">
    <img src="/assets/imgs/banner_login.png">
    <div class="logo" fxLayout="row" fxLayoutAlign="center center" fxLayoutMargin fxLayoutPadding>
      <img src="/assets/imgs/logo.png">
      <div fxLayout="column">
        <div class="chinese-title">电力企业标准化管理系统</div>
        <div class="english-title">Enterprise Standardized Management</div>
      </div>
    </div>
    <div id="login-form">
      <form novalidate autocomplete="off" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
          <mat-form-field class="is-full" floatPlaceholder="never">
            <input matInput placeholder="登录名" name="loginId" required [(ngModel)]="loginId">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="is-full" floatPlaceholder="never">
            <input matInput placeholder="密码" name="password" type="password" required [(ngModel)]="password">
          </mat-form-field>
        </div>
        <div class="form-actions" fxLayout="row" fxLayoutAlign="center end">
          <button type="submit" mat-raised-button color="primary" *ngIf="!submitting">
            登录
          </button>
          <mat-progress-spinner *ngIf="submitting" mode="indeterminate" [strokeWidth]="2" [diameter]="36"></mat-progress-spinner>
        </div>
      </form>
    </div>
  </div>

</div>
