.process-conent{
	>*{
		margin-bottom: 20px;
	}
}

.arrow-line{
	width: 2px;
    height: auto;
    background: #0099cc;
    margin-left: 9px;
}

.process-title{
	font-size: 14px;
}

.task-info{
	.title{
		font-size: 13px;
	    margin-right: 80px;
	    margin-bottom: 15px;
	}
}

ux-table-container{
	margin-bottom: 20px;
}