<div class="treeview-container">
  <mat-form-field class="is-full" floatPlaceholder="never">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput #filter (keyup)="tree.treeModel.filterNodes(filter.value)" (click)="$event.stopPropagation()" placeholder="搜索">
  </mat-form-field>
  <tree-root #tree [nodes]="nodes" [options]="options" (initialized)="onInitialized()" (activate)="onActivate($event)" (moveNode)="onMoveNode($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">

      <span *ngIf="!authService.check('/standard-system-org-management@standard-committee@treeview'); else hasMenu">
        {{ node.data.name }}
        <small>({{node.data.staffCount}})</small>
      </span>
      <ng-template #hasMenu>
        <span (contextmenu)="$event.preventDefault();trigger.openMenu()">
          <span #trigger="matMenuTrigger" [matMenuTriggerFor]="menu"></span> {{ node.data.name }}
          <small>({{node.data.staffCount}})</small>
        </span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="authService.check('/standard-system-org-management@standard-committee@leader')" (click)="openLeaderDialog(node.data)"> 设置负责人 </button>
          <button mat-menu-item *ngIf="authService.check('/standard-system-org-management@standard-committee@read')" (click)="openFormDialog({action:'read',node:node.data})"> 查看 </button>
          <button mat-menu-item *ngIf="authService.check('/standard-system-org-management@standard-committee@create')" (click)="openFormDialog({action:'create',node:node.data})"> 新建 </button>
          <button mat-menu-item *ngIf="authService.check('/standard-system-org-management@standard-committee@update')" (click)="openFormDialog({action:'update',node:node.data})"> 编辑 </button>
          <button mat-menu-item *ngIf="authService.check('/standard-system-org-management@standard-committee@delete')" (click)="openDeletionDialog(node.data)"> 删除 </button>
          <button mat-menu-item *ngIf="authService.check('/standard-system-org-management@standard-committee@import')" (click)="openImportDialog()">批量导入</button>
        </mat-menu>
      </ng-template>
    </ng-template>
  </tree-root>
  <!-- <div class="has-text-centered" *ngIf="nodes && nodes.length===0">
    <button mat-icon-button matTooltip="新建根目录" (click)="openFormDialog({action:'create',node:undefined})"><mat-icon>add</mat-icon></button>
  </div> -->
</div>
