<div *ngFor="let item of myModel as list;let i=index;let isLast=last;trackBy:customTrackBy">
  <mat-form-field floatPlaceholder="never">
    <input matInput placeholder="发布文号" name="documentNo" [disabled]="disabled" [(ngModel)]="list[i]">
  </mat-form-field>
  <button type="button" mat-icon-button matTooltip="移除" [disabled]="disabled" (click)="remove(i)">
    <mat-icon>remove</mat-icon>
  </button>
</div>
<button type="button" mat-icon-button matTooltip="添加" [disabled]="disabled" (click)="add()">
  <mat-icon>add</mat-icon>
</button>
