<mat-form-field>
  <input matInput [placeholder]="placeholder" name="displayText" readonly [disabled]="disabled" [value]="displayText" [required]="required" [matMenuTriggerFor]="menu">
</mat-form-field>
<mat-menu #menu="matMenu">
  <div class="tree-select-container" (click)="$event.stopPropagation()">

    <div class="tree-container">
      <mat-form-field class="is-full" floatPlaceholder="never">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput #filter (keyup)="tree.treeModel.filterNodes(filter.value)" placeholder="搜索体系">
      </mat-form-field>
      <tree-root #tree [nodes]="nodes" [options]="options" (initialized)="onInitialized()" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        <ng-template #treeNodeTemplate let-node let-index="index">
          <span>{{node.data.structureNo}} {{ node.data.name }}</span>
        </ng-template>
      </tree-root>
    </div>
  </div>
</mat-menu>
