<form novalidate autocomplete="off" (ngSubmit)="onSubmit()" #form="ngForm">
  <mat-dialog-content>
    <div class="form-group">
      <mat-form-field class="is-full">
        <input matInput placeholder="计划名称" name="name" [disabled]="data.action === 'read'" required [(ngModel)]="model.name" #name="ngModel">
        <mat-error *ngIf="name.errors?.required">
          计划名称必填
        </mat-error>
      </mat-form-field>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.pristine || form.invalid || submitting">提交</button>
    <button type="button" mat-button mat-dialog-close>取消</button>
  </mat-dialog-actions>

</form>
