@import '../../../../theme';
.icon-box {
  padding: 10px;
  color: rgba(255, 255, 255, .68);
  text-align: center;
  box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
  transition: box-shadow 300ms;
  &:hover {
    box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12);
  }
  &.primary {
    background: map-get($primary, 400);
  }
  &.accent {
    background: map-get($accent, 400);
  }
  &.warn {
    background: map-get($warn, 400);
  }
  .mat-icon {
    width: 48px;
    height: 48px;
    font-size: 48px;
  }
}
