<form novalidate autocomplete="off" (ngSubmit)="onSubmit()" #form="ngForm">
  <mat-dialog-content>
    <h2 mat-dialog-title>重置“{{data.staff?.fullName}}”的密码</h2>
    <div class="form-group">
      <mat-form-field class="is-full">
        <input matInput placeholder="新密码" name="newPassword" type="password" required minlength="6" maxlength="32" [(ngModel)]="newPassword" #newPwd="ngModel">
        <mat-error *ngIf="newPwd.errors?.required">
          新密码必填
        </mat-error>
        <mat-error *ngIf="newPwd.errors?.minlength">
          密码最少6个字符
        </mat-error>
        <mat-error *ngIf="newPwd.errors?.maxlength">
          密码最多32字符
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="is-full">
        <input matInput placeholder="确认新密码" name="confirmNewPassword" type="password" required validateEqual="newPassword" [(ngModel)]="confrimNewPassword" #confirmNewPwd="ngModel">
        <mat-error *ngIf="confirmNewPwd.errors?.required">
          确认新密码必填
        </mat-error>

        <mat-error *ngIf="confirmNewPwd.errors?.validateEqual">
          确认新密码有误，两次输入密码不同
        </mat-error>
      </mat-form-field>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.pristine || form.invalid || submitting">提交</button>
    <button type="button" mat-button mat-dialog-close>取消</button>
  </mat-dialog-actions>

</form>
