<div class="panel">
  <div class="panel-header">
    <div fxFlex fxLayout="row">
      <div fxFlex="50" fxLayoutAlign="start center">
        <button mat-raised-button color="primary" *ngIf="authService.check('/management/announcements/:form/1/:id')" [routerLink]="['create',1,0]">新建公告</button>
      </div>
      <div fxFlex="50" fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field class="is-half" floatPlaceholder="never">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput #keyword placeholder="搜索">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <app-announcement-table [filter]="filter"></app-announcement-table>
  </div>
</div>
