<div class="panel">
  <div class="panel-header">
    <div fxFlex fxLayout="row">
      <div class="actions" fxFlex="50" fxLayoutAlign="start center">
        <button mat-raised-button color="primary" *ngIf="authService.check('/management/org@staff@create')" (click)="openFormDialog({action:'create',id:orgService.department.id})">新建人员</button>
        <button mat-raised-button color="primary" *ngIf="authService.check('/management/org@staff@import')" (click)="openImportDialog()">批量导入</button>
      </div>
      <div fxFlex="50" fxLayout="row" fxLayoutAlign="end center" class="actions">
        <app-post-select placeholder="所属岗位" name="post" [multiple]="true" [departments]="departments" (close)="onPostSelectClose($event)"></app-post-select>

        <mat-form-field class="is-half" floatPlaceholder="never">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput #keyword placeholder="搜索">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <ux-table-container>
      <mat-table #table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 序号 </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="staffNo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 工号 </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.staffNo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 姓名 </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.fullName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> 状态 </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.status | staffStatus}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="posts">
          <mat-header-cell *matHeaderCellDef> 所属岗位 </mat-header-cell>
          <mat-cell *matCellDef="let row">{{displayPosts(row.posts)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="loginId">
          <mat-header-cell *matHeaderCellDef> 登录名 </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.user?.loginId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userStatus">
          <mat-header-cell *matHeaderCellDef> 账号状态 </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ux-availability *ngIf="row.user" [available]="row.user.isEnabled"></ux-availability>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> 邮箱 </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button [matTooltip]="row.email" [disabled]="!row.email">
              <mat-icon>contact_mail</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="mobile">
          <mat-header-cell *matHeaderCellDef> 手机 </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button [matTooltip]="row.mobile" [disabled]="!row.mobile">
              <mat-icon>contact_phone</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 创建时间 </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.createdAt | dateTime}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="has-text-centered"> 操作 </mat-header-cell>
          <mat-cell *matCellDef="let row" class="has-text-centered">
            <button mat-icon-button matTooltip="查看" *ngIf="authService.check('/management/org@staff@read')" (click)="openFormDialog({action:'read',id:row.id})">
              <mat-icon>insert_drive_file</mat-icon>
            </button>
            <button mat-icon-button matTooltip="编辑" *ngIf="authService.check('/management/org@staff@update')" (click)="openFormDialog({action:'update',id:row.id})">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="删除" *ngIf="authService.check('/management/org@staff@delete')" (click)="openDeletionDialog(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [length]="dataSource.total" [pageSize]="appConfig.pageSize" [pageSizeOptions]="appConfig.pageSizeOptions">
      </mat-paginator>
    </ux-table-container>
  </div>
</div>
